.box {
	display:block;
	height:auto;
	overflow:hidden;
}
.fleft {
	float:left;
}
.fright {
	float:right;
}
.fcenter {
	margin:0 auto;
}
.fwidth {
	width:100%;
}
*, p, a {
	margin:0;
	padding:0;
}
a {
	text-decoration:none;
	outline:none;
}
.ocultar {
	display:none;
	visibility:hidden;
}
.mostrar {
	display:block;
	visibility:visible;
}

//variables 
$gris: #999;
$tamanomin: 11px;
$tamanogen: 12px;
$espaciado: 20px 15px 20px 1px;
$interlineadogen: 1.5em;

/*Portafolio*/
#menu h1 {
    font-size: 18px;
    font-weight:400;
    color: $gris;
}
nav {
    color: $gris;
    background-color: #fff;
    bottom: 30px;
    float: left;
    height: auto;
    margin: 0;
    padding: 0; 
}
nav ul li{
    list-style: none;
    color: $gris;
    font-family: Helvetica,Arial,sans-serif;
    font-size: $tamanomin;
    margin-bottom: 5px;
    text-transform: uppercase;
}
nav ul li a {
    color: #000;
}
nav ul {
    line-height: 17px;
    list-style: outside none none;
    margin: $espaciado;
    padding-top: 6px;
}

#contenido .home{
    margin: $espaciado;
    text-align: justify;
    font-size: $tamanogen;
    line-height: $interlineadogen;
}
.home figure {
    float: left;
    margin: 5px 20px 0 0;
}
figcaption {
    border-top: 1px solid $gris;
    font-size: $tamanomin;
    margin-top: 5px;
}

